<li>
	<h2>{{food_name}} <span style="font-size: 50%;"><sup>{{food_type}}</sup></span></h2>
    <p>${{price}} | {{restaurant}}</p>
    <p>{{food_descrip}}</p>
    

	<button class="devour-btn" data-id="{{id}}">Devour it!
	</button>

	<!-- //TODO Creating cat delete button -->
	<button class="delete-btn" data-id="{{id}}">Remove From List
	</button>
</li>
