<li data={{id}}>
	<h4><strong>{{food_name}}</strong></h4>
    <p class="small">{{food_type}} | ${{price}} | {{restaurant}}</p>
    <p>{{food_descrip}}</p>
    
	<div class="btn-grp">
		<button class="btn devour-btn updateModal-btn btn-warning" data-fname={{food_name}} data-toggle="modal" data-target="#updateModal" data-id={{id}}>Yum! Devour it!</button>
		<button class="btn delete-btn btn-dark" data-id={{id}}>Yuck. Delete it.</button>
	</div>
	
</li>
